* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --svg-fill-color: white;
    --svg-fill-color-inverse: white;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 30px;
}
option {
    color: #333;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

/* Major interface panes, aside, article, header, etc. */

body>* {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #222;
}
#timer {
    font-family: monospace;
    display: block;
    height: 20vh;
    width: 25vw;
    top: 0;
    left: 35vw;
    font-size: 20vh;
    line-height: .8;
}
header {
    width: 20vw;
    height: 25vh;
    top: 0;
    left: 60vw;
    color: white;
}
#camera {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 35vw;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    background-color: #333;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    background-image: url('http://10.14.18.2:1181/?action=stream');
    background-size: contain;
    background-repeat: no-repeat;
}
#camera-buttons > rect {
    transition: fill .2s;
}
#camera-buttons > rect:hover {
    fill: var(--svg-fill-color-inverse);

}
#field-centric {
    fill: #fe3131;
}
#fc-label {
    fill: white;
}
#tuning {
    width: 50vw;
    height: 80vh;
    bottom: 0;
    left: 35vw;
}
#tuning div {
    margin: 20px 0;
}
#tuning p {
    margin-bottom: 10px;
}
article {
    top: 0;
    left: 0;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
.svgsolid {
    fill: var(--svg-fill-color);
}
.svginvis {
    Stroke: #222;
    Stroke-width: 0;
}
.ballicons {}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#gyro {
}
#gyro-robot {
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
#gyro-number {
    font-size: 25px;
    text-anchor: middle;
}
#robot-diagram {
    position: absolute;
    bottom: 1px;
    right: 1vw;
}
#robot-arm {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
#team {
    font-size: 28px;
    letter-spacing: -1px;
}
aside {
    right: 0;
    top: 0;
    padding-left: 20px;
    width: 15vw;
    height: 100vh;
}
aside>* {
    margin-bottom: 20px;
}
#tank-label, #tank-readout {
    display: inline;
}
#tank-gauge-container {
    height: 20px;
    width: 120px;
    background: #444;
    overflow: hidden;
}
#tank-gauge {
    height: 20px;
    background: #555;
}
